# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=

NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development

# Google Drive
GOOGLE_DRIVE_CLIENT_ID=
GOOGLE_DRIVE_REDIRECT_URI=
GOOGLE_DRIVE_FOLDER_ID=
# App Defaults
NEXT_PUBLIC_DEFAULT_RESTAURANT_SLUG=

# Security
JWT_SECRET=

# Admin Seed
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=

# Restaurant Seed
SEED_RESTAURANT_NAME=
NEXT_PUBLIC_SITE_NAME=

# SMTP EMAIL
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=